<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>
<body>


<div class="vertical-center">
    <div class="center-div">
        <div class="logo">
            <h1>403</h1>
        </div>
        <p class="lead text-muted">Oops, an error has occurred. Not allowed!</p>
    </div><!-- /.col-lg-8 col-offset-2 -->
</div>


<style>
    .vertical-center {
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
        text-align: center;
    }
    .center-div {
        width: 100%;
    }
</style>

</body>
</html>