<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/baseFragments :: header" ></th:block> /*/-->
    <link href="css/about.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>

<!--/*/ <th:block th:include="fragments/baseFragments :: navbar" ></th:block> /*/-->

<!--/*/ <th:block th:include="fragments/baseFragments :: login" ></th:block> /*/-->


<!-- Services Section Start -->
<section id="services" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Our Services</h2>
            <hr class="lines"/>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos!
                Lorem ipsum dolor sit amet,consectetur.</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes">
                    <div class="icon">
                        <!--<i class="lnr lnr-pencil"></i>-->
                        <i class="fa fa-compass fa-4x" aria-hidden="true"></i>
                    </div>
                    <h4>Content Writing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes">
                    <div class="icon">
                        <i class="fa fa-camera fa-4x" aria-hidden="true"></i>
                    </div>
                    <h4>Web Development</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes">
                    <div class="icon">
                        <i class="fa fa-flag-checkered fa-4x" aria-hidden="true"></i>
                    </div>
                    <h4>Business Consultancy</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Features Section Start -->
<section id="features" class="section" data-stellar-background-ratio="0.2">
    <div class="container background-img">
        <div class="section-header">
            <h2 class="section-title">Some Features</h2>
            <hr class="lines"/>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos!
                Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 item-boxes">
                            <span class="icon">
                                <i class="fa fa-bandcamp fa-4x" aria-hidden="true"></i>
                            </span>
                            <h4>Bootstrap 4 Based</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 item-boxes">
                            <span class="icon">
                              <i class="fa fa-grav fa-4x" aria-hidden="true"></i>
                            </span>
                            <h4>Fully Responsive</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 item-boxes">
                            <span class="icon">
                              <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
                            </span>
                            <div class="text">
                                <h4>Parallax Background</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 item-boxes">
                            <span class="icon">
                              <i class="fa fa-balance-scale fa-4x" aria-hidden="true"></i>
                            </span>
                            <div class="text">
                                <h4>Easy to Customize</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Section End -->

<!-- Start Pricing Table Section -->
<section id="pricing" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Pricing Table</h2>
            <hr class="lines"/>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! Lorem ipsum dolor sit amet, consectetur.</p>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Free</h2>
                        <span>$0</span>
                        <ul>
                            <li>Consectetur adipiscing</li>
                            <li>Nunc luctus nulla et tellus</li>
                            <li>Suspendisse quis metus</li>
                            <li>Vestibul varius fermentum erat</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#" class="btn btn-common">Get Plan</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Popular</h2>
                        <span>$3.99</span>
                        <ul>
                            <li>Consectetur adipiscing</li>
                            <li>Nunc luctus nulla et tellus</li>
                            <li>Suspendisse quis metus</li>
                            <li>Vestibul varius fermentum erat</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#" class="btn btn-common">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Premium</h2>
                        <span>$9.50</span>
                        <ul>
                            <li>Consectetur adipiscing</li>
                            <li>Nunc luctus nulla et tellus</li>
                            <li>Suspendisse quis metus</li>
                            <li>Vestibul varius fermentum erat</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#" class="btn btn-common">Buy Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Pricing Table Section -->


<!--/*/ <th:block th:include="fragments/baseFragments :: footer" ></th:block> /*/-->

</body>
</html>