<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/baseFragments :: header" ></th:block> /*/-->
    <!--<link href="css/about.css" rel="stylesheet" type="text/css" media="screen"/>-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/baseFragments :: navbar" ></th:block> /*/-->

<!--/*/ <th:block th:include="fragments/baseFragments :: login" ></th:block> /*/-->


<!-- Begin page content -->
<div class="container">
    <div class="jumbotron">
        <h2><span th:text="${message}"></span></h2>
    </div>
</div>


<!--/*/ <th:block th:include="fragments/baseFragments :: footer" ></th:block> /*/-->

</body>
</html>